* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cornflowerblue;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90vw;
    margin: 5rem 0;
    max-width: 300px;
    background-color: white;
    border-radius: 3px;
    padding: 1.5rem 2rem;
    box-shadow: 1px 1px 9px 0px black;
}